USE [master]
GO
/****** Object:  Database [LostIdentity]    Script Date: 7/25/2018 8:15:58 PM ******/
CREATE DATABASE [LostIdentity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LostIdentity', FILENAME = N'D:\RDSDBDATA\DATA\LostIdentity.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'LostIdentity_log', FILENAME = N'D:\RDSDBDATA\DATA\LostIdentity_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LostIdentity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LostIdentity]
GO
USE [LostIdentity]
GO
/****** Object:  User [lostadmin]    Script Date: 7/25/2018 8:16:03 PM ******/
CREATE USER [lostadmin] FOR LOGIN [lostadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [lostadmin]
GO
/****** Object:  Table [dbo].[DocumentType]    Script Date: 7/25/2018 8:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
	[Id] [int] NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_DocumentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LostDocument]    Script Date: 7/25/2018 8:16:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LostDocument](
	[DocumentNumber] [varchar](250) NOT NULL,
	[GivenName] [varchar](500) NOT NULL,
	[ValidityDate] [date] NULL,
	[IssuedOn] [date] NULL,
	[Address] [varchar](1000) NULL,
	[Sex] [varchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[FoundLocality] [varchar](500) NULL,
	[LostDocumentType_Id] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[SubmitterEmail] [varchar](300) NOT NULL,
 CONSTRAINT [PK_LostDocument] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LostDocument] ADD  DEFAULT ((0)) FOR [LostDocumentType_Id]
GO
ALTER TABLE [dbo].[LostDocument] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LostDocument] ADD  DEFAULT ('kalyantejat@hotmail.com') FOR [SubmitterEmail]
GO
ALTER TABLE [dbo].[LostDocument]  WITH CHECK ADD  CONSTRAINT [fk_LostDocumentType_Id] FOREIGN KEY([LostDocumentType_Id])
REFERENCES [dbo].[DocumentType] ([Id])
GO
ALTER TABLE [dbo].[LostDocument] CHECK CONSTRAINT [fk_LostDocumentType_Id]
GO
USE [master]
GO
